/* ---------------google fonts----------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* Common styles */
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.btn {
  background-color: #e02c6d;
  padding: 10px 24px;
  border: none;
  color: white;
  font-weight: 400;
  transition: 0.5s;
  cursor: pointer;
}
.btn:hover {
  background-color: #8f0034;
}
.heading {
  text-align: center;
  font-size: 40px;
  margin-bottom: 100px;
}
/* -------------------------------------------
          header styles 
----------------------------------------------*/
.header-container {
  background-color: #2d25a0;
  margin-bottom: 70px;
}
.header-section {
  display: flex;
  justify-content: center;
  padding: 100px 80px 40px 150px;
}
.header-text {
  width: 50%;
}
.header-text h1 {
  color: white;
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 20px;
}
#and {
  color: #d03a00;
}

.arrow-icon {
  margin-left: 5px;
}
.header-banner {
  width: 50%;
}
.header-banner img {
  width: 560px;
  transition: 0.8s;
}
.header-banner > img:hover {
  transform: scale(1.1);
}

/* -------------------------------------------
          Player styles 
----------------------------------------------*/
.player-container {
  width: 1040px;
  margin: auto;
  box-shadow: 0 2px 19px 0 rgb(0 0 0 / 20%), 0 12px 20px 0 rgb(0 0 0 / 19%);
  margin-bottom: 100px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f0f0f0;
  grid-gap: 30px 27px;
  width: 100%;
}
.player {
  width: 300px;
  background-color: white;
  padding: 12px;
}
.player-img img {
  width: 300px;
}
.player-name {
  font-size: 28px;
  margin: 16px 0 10px 0;
}
.player-discription {
  color: #6c6c6c;
  font-weight: 400;
  font-size: 16px;
}

/* -------------------------------------------
        Style for News Section
----------------------------------------------*/
.news {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.news-img {
  width: 30%;
  margin-right: 2%;
  overflow: hidden;
}
.news-img img {
  width: 100%;
  transition: 0.4s;
}
.news-img > img:hover {
  transform: scale(1.1);
}
.news-detail {
  width: 40%;
  margin-right: 3%;
}
.news-heading {
  border-bottom: 2px solid black;
}
/* ------------Upcoming Match Styles----------- */
.match-container {
  margin: 100px 0;
  background-color: #f0f0f0;
}
.matches {
  display: flex;
  justify-content: center;
}
.match {
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  margin-right: 30px;
  padding: 30px 0;
  border-radius: 8px;
  transition: 0.3s;
}
.match:hover {
  box-shadow: 0 2px 19px 0 rgb(0 0 0 / 20%), 0 12px 20px 0 rgb(0 0 0 / 19%);
}
.team > h2 {
  color: #2d25a0;
}
.vs {
  color: #d03a00;
  font-size: 15px;
}
.load-btn-container {
  display: flex;
  justify-content: center;
}
.load-btn-container button {
  margin: 40px 0;
}
.load-btn {
  background-color: transparent;
  padding: 14px 24px;
  font-weight: 400;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid black;
}
.load-btn:hover {
  background-color: rgb(54, 54, 54);
  color: white;
}

/* ----------footer section------------ */
footer {
  border-top: 2px solid rgb(177, 173, 173);
}
.footer-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  width: 485px;
  margin: 25px auto;
}
.logo > img {
  width: 485px;
}
.social-link {
  display: flex;
  justify-content: center;
}
/* social link */
.social-link > a {
  padding: 0 12px;
}
.social-link a > i {
  font-size: 32px;
  color: #464444;
  transition: 0.4s;
}
.fa-facebook-square:hover {
  color: #1095ed;
}
.fa-twitter-square:hover {
  color: #5da9dd;
}
.fa-instagram-square:hover {
  color: #ce2857;
}
.fa-youtube:hover {
  color: #f60000;
}
.copyright {
  text-align: center;
}

/* ------------------------------------------------
    Media Query For Responsive Web Design 
  ------------------------------ ------------------*/
/* Mobile Device */
@media only screen and (max-width: 688px) {
  /* Responsive for header section */
  .header-section,
  .header-banner,
  .player-container,
  .news,
  .news-img,
  .match-container,
  .footer-section {
    width: 100%;
  }
  .header-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
  }
  .header-text {
    width: 95%;
  }
  .header-text h1 {
    font-size: 48px;
  }
  .header-banner {
    margin-top: 20px;
  }
  .header-banner img {
    width: 80%;
  }
  /* mobile version of players section <mobile> */
  .player-container {
    margin: 0;
  }
  .players {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 95%;
  }
  .player {
    width: 95%;
  }
  .player-img img {
    width: 100%;
  }
  /* mobile version of News section <mobile> */
  .news-container {
    max-width: 97%;
  }
  .news {
    flex-direction: column;
  }
  .reverse-news {
    display: flex;
    flex-direction: column-reverse;
  }
  .news-img img {
    width: 100%;
  }
  .news-detail {
    width: 92%;
    padding: 10px;
  }
  /* mobile version of upcoming match section  */
  .matches {
    flex-direction: column;
  }
  .match {
    margin: 10px auto;
  }
  .logo img {
    width: 80%;
  }
}

/* -----------Media query for Tablet version----------- */
@media only screen and (min-width: 688px) and (max-width: 991px) {
  .header-section {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%;
    justify-content: center;
  }
  .header-text {
    width: 45%;
  }
  .header-text h1 {
    font-size: 48px;
  }
  .header-banner {
    margin-top: 20px;
    width: 45%;
  }
  .header-banner img {
    width: 100%;
  }
  /* Player section for tablet version */
  .player-container,
  .players {
    width: 100%;
  }
  .players {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .player {
    width: 80%;
    margin-left: 20px;
  }
  /* tablet version of upcoming match section*/
  .match-container {
    width: 100%;
  }
  .matches {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .match {
    margin-bottom: 10px;
  }
  /* tablet version of Latest news Section */
  .news-container,
  .news-img img {
    width: 100%;
  }
  .news-img {
    width: 40%;
  }
  .news-detail {
    width: 45%;
  }
  /* tablet version of footer */
  /* .footer-section {
    width: 100%;
  }
  .logo > img {
    width: 80%;
  } */
}
