/* Common styles */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* ------header styles -------------*/
.header-container {
  background-color: #2d25a0;
  margin-bottom: 70px;
}
.header-section {
  display: flex;
  justify-content: center;
  padding: 100px 80px 40px 150px;
}
.header-text {
  width: 50%;
}
.header-text h1 {
  color: white;
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 20px;
}
#and {
  color: #d03a00;
}
.watch-btn {
  background-color: #e02c6d;
  padding: 10px 24px;
  border: none;
  color: white;
  font-weight: 400;
  transition: 0.5s;
  cursor: pointer;
}
.watch-btn:hover {
  background-color: #bd0649;
}
.arrow-icon {
  margin-left: 5px;
}
.header-banner {
  width: 50%;
}
.header-banner img {
  width: 560px;
  transition: 0.8s;
}
.header-banner > img:hover {
  transform: scale(1.1);
}

/* --------------Players styles-------------- */
.player-container {
  width: 1040px;
  margin: auto;
  box-shadow: 0 2px 19px 0 rgb(0 0 0 / 20%), 0 12px 20px 0 rgb(0 0 0 / 19%);
  margin-bottom: 150px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f0f0f0;
  grid-gap: 30px 27px;
  width: 1050px;
}
.player {
  width: 300px;
  background-color: white;
  padding: 12px;
}
.player-img img {
  width: 300px;
}
.player-name {
  font-size: 28px;
  margin: 16px 0 10px 0;
}
.player-discription {
  color: #6c6c6c;
  font-weight: 400;
  font-size: 16px;
}

/* ----------footer section------------ */
footer {
  border-top: 2px solid rgb(177, 173, 173);
}
.footer-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  width: 485px;
  margin: 25px auto;
}
.logo > img {
  width: 485px;
}
.social-link {
  display: flex;
  justify-content: center;
}
/* social link */
.social-link > a {
  padding: 0 12px;
}
.social-link a > i {
  font-size: 32px;
  color: #464444;
  transition: 0.4s;
}
.fa-facebook-square:hover {
  color: #1095ed;
}
.fa-twitter-square:hover {
  color: #5da9dd;
}
.fa-instagram-square:hover {
  color: #ce2857;
}
.fa-youtube:hover {
  color: #f60000;
}
.copyright {
  text-align: center;
}
